email=fancq@mti-sh.cn
always-auth=true
registry = http://10.168.4.75:8081/repository/mti-npm-hosted/
# registry = http://10.168.4.75:8081/repository/mti-npm/
_auth=ZmFuY3E6MTEyMjMz=
# username  fancq
# password  112233
